.authorization-buttons {
    &_column {
        flex-direction: column;

        & > button:first-child, a:first-child {
            margin-right: 0px;
            margin-bottom: 10px;
        } 
    }

    display: flex;

    & > button, a {
        flex-grow: 1;
    }

    & > button:first-child, a:first-child {
        margin-right: 10px;
    } 
}